<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.friendMapper" >
  <resultMap id="BaseResultMap" type="com.accp.entity.friend" >
    <id column="friendid" property="friendid" jdbcType="INTEGER" />
    <result column="friendname" property="friendname" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="frienduserid" property="frienduserid" jdbcType="INTEGER" />
    <result column="groupingid" property="groupingid" jdbcType="INTEGER" />
    <result column="friendtime" property="friendtime" jdbcType="TIMESTAMP" />
     <collection property="hyuser" column="frienduserid" ofType="userTab" select="selecthhh"></collection>
  </resultMap>
  <sql id="Base_Column_List" >
    friendId, friendName, userId, frienduserid, groupingId, friendTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from friend
    where friendId = #{friendid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from friend
    where friendId = #{friendid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.entity.friend" >
    insert into friend ( friendName, userId, 
      frienduserid, groupingId, friendTime
      )
    values ( #{friendname,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, 
      #{frienduserid,jdbcType=INTEGER}, #{groupingid,jdbcType=INTEGER}, CURDATE()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.entity.friend" >
    insert into friend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="friendid != null" >
        friendId,
      </if>
      <if test="friendname != null" >
        friendName,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="frienduserid != null" >
        frienduserid,
      </if>
      <if test="groupingid != null" >
        groupingId,
      </if>
      <if test="friendtime != null" >
        friendTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="friendid != null" >
        #{friendid,jdbcType=INTEGER},
      </if>
      <if test="friendname != null" >
        #{friendname,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="frienduserid != null" >
        #{frienduserid,jdbcType=INTEGER},
      </if>
      <if test="groupingid != null" >
        #{groupingid,jdbcType=INTEGER},
      </if>
      <if test="friendtime != null" >
        #{friendtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.entity.friend" >
    update friend
    <set >
      <if test="friendname != null" >
        friendName = #{friendname,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="frienduserid != null" >
        frienduserid = #{frienduserid,jdbcType=INTEGER},
      </if>
      <if test="groupingid != null" >
        groupingId = #{groupingid,jdbcType=INTEGER},
      </if>
      <if test="friendtime != null" >
        friendTime = #{friendtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where friendId = #{friendid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.entity.friend" >
    update friend
    set friendName = #{friendname,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=INTEGER},
      frienduserid = #{frienduserid,jdbcType=INTEGER},
      groupingId = #{groupingid,jdbcType=INTEGER},
      friendTime = #{friendtime,jdbcType=TIMESTAMP}
    where friendId = #{friendid,jdbcType=INTEGER}
  </update>
  <select id="selectsfhy" resultType="friend"><!-- 查询是否已经是好友 -->
  select * from friend
  
  where userid=#{userid} and frienduserid=#{frienduserid}
  </select>
  
  
  
  <select id="selectgroupingId" resultMap="BaseResultMap"><!-- 按分组查好友 -->
  select * from friend
  where groupingId=#{groupingid}
  </select>
  
   <select id="selectusid" resultMap="BaseResultMap"><!-- 按用户查好友 -->
  select * from friend
  where userid=#{userid}
  </select>
  
    <select id="selecthhh" resultType="userTab">
  select * from usertab 
  where userid=#{frienduserid}
  </select>
</mapper>