<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.imgMapper" >
  <resultMap id="BaseResultMap" type="com.accp.entity.img" >
    <id column="imgId" property="imgid" jdbcType="INTEGER" />
    <result column="imgType" property="imgtype" jdbcType="INTEGER" />
    <result column="masterId" property="masterid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.accp.entity.img" extends="BaseResultMap" >
    <result column="url" property="url" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    imgId, imgType, masterId
  </sql>
  <sql id="Blob_Column_List" >
    url
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from img
    where imgId = #{imgid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from img
    where imgId = #{imgid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.entity.img" >
    insert into img (imgId, imgType, masterId, 
      url)
    values (#{imgid,jdbcType=INTEGER}, #{imgtype,jdbcType=INTEGER}, #{masterid,jdbcType=INTEGER}, 
      #{url,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.entity.img" >
    insert into img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imgid != null" >
        imgId,
      </if>
      <if test="imgtype != null" >
        imgType,
      </if>
      <if test="masterid != null" >
        masterId,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imgid != null" >
        #{imgid,jdbcType=INTEGER},
      </if>
      <if test="imgtype != null" >
        #{imgtype,jdbcType=INTEGER},
      </if>
      <if test="masterid != null" >
        #{masterid,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.entity.img" >
    update img
    <set >
      <if test="imgtype != null" >
        imgType = #{imgtype,jdbcType=INTEGER},
      </if>
      <if test="masterid != null" >
        masterId = #{masterid,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where imgId = #{imgid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.accp.entity.img" >
    update img
    set imgType = #{imgtype,jdbcType=INTEGER},
      masterId = #{masterid,jdbcType=INTEGER},
      url = #{url,jdbcType=LONGVARCHAR}
    where imgId = #{imgid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.entity.img" >
    update img
    set imgType = #{imgtype,jdbcType=INTEGER},
      masterId = #{masterid,jdbcType=INTEGER}
    where imgId = #{imgid,jdbcType=INTEGER}
  </update>
</mapper>