<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.praiseRecordMapper" >
  <resultMap id="BaseResultMap" type="com.accp.entity.praiseRecord" >
    <id column="praiseid" property="praiseid" jdbcType="INTEGER" />
    <result column="stateid" property="stateid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
     <collection property="dzuslist" column="userId" ofType="userTab" select="selectdinzanus"></collection>
  </resultMap>
  <sql id="Base_Column_List" >
    praiseId, stateId, userid, createTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from praiserecord
    where praiseId = #{praiseid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from praiserecord
    where userid = #{userid,jdbcType=INTEGER} and stateId=#{stateId}
  </delete>
  <insert id="insert" parameterType="com.accp.entity.praiseRecord" useGeneratedKeys="true" keyProperty="praiseid" >
    insert into praiserecord ( stateId, userid, 
      createTime)
    values ( #{stateid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      CURDATE())
  </insert>
  <insert id="insertSelective" parameterType="com.accp.entity.praiseRecord" >
    insert into praiserecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="praiseid != null" >
        praiseId,
      </if>
      <if test="stateid != null" >
        stateId,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="praiseid != null" >
        #{praiseid,jdbcType=INTEGER},
      </if>
      <if test="stateid != null" >
        #{stateid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.entity.praiseRecord" >
    update praiserecord
    <set >
      <if test="stateid != null" >
        stateId = #{stateid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where praiseId = #{praiseid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.entity.praiseRecord" >
    update praiserecord
    set stateId = #{stateid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where praiseId = #{praiseid,jdbcType=INTEGER}
  </update>
  
  <select id="selectpraiseid" resultMap="BaseResultMap">
  select * from praiserecord
  where praiseid=#{praiseid}
  </select>
     <select id="selectdinzanus" resultType="userTab">
  select * from userTab
  where userId=#{userid}
  </select>
  
</mapper>