<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.qspaceMapper" >
<!-- 空间map -->
  <resultMap id="BaseResultMap" type="com.accp.entity.qspace" >
    <id column="spaceid" property="spaceid" jdbcType="INTEGER" />
    <result column="backcolor" property="backcolor" jdbcType="VARCHAR" />
    <result column="backimgid" property="backimgid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <collection property="kjuserTab" column="userid" ofType="userTab" select="selectusertab"></collection>
    <collection property="kjspaceBackImg" column="spaceid" ofType="spaceBackImg" select="selectspacebackimg"></collection>
   <collection property="dynamicStates" column="spaceid" ofType="dynamicStatetMap" select="selectdynamicState"></collection>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.accp.entity.qspace" extends="BaseResultMap" >
    <result column="signature" property="signature" jdbcType="LONGVARCHAR" />
  </resultMap>
  <!-- 动态map -->
  <resultMap id="dynamicStatetMap" type="com.accp.entity.dynamicState" >
    <id column="stateid" property="stateid" jdbcType="INTEGER" />
    <result column="spaceid" property="spaceid" jdbcType="INTEGER" />
    <result column="statetime" property="statetime" jdbcType="TIMESTAMP" />
    <result column="statetext" property="statetext" jdbcType="LONGVARCHAR" />
    <result column="readed" property="readed" jdbcType="LONGVARCHAR" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
     <collection property="praiseRecords" column="stateid" ofType="dianzMap" select="selectpraiserecord"></collection>
 	<collection property="commentlis" column="stateid" ofType="commentlisMap" select="selectcomments"></collection>
 	<collection property="dtuserTab" column="userid" ofType="userTab" select="selectdtusertab"></collection>
 	<collection property="imglis" column="stateId" ofType="img" select="selectdtimg"></collection>
  </resultMap>  

  <!-- 点赞map -->
    <resultMap id="dianzMap" type="com.accp.entity.praiseRecord" >
    <id column="praiseid" property="praiseid" jdbcType="INTEGER" />
    <result column="stateid" property="stateid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <collection property="dzuslist" column="userid" ofType="userTab" select="selectdzusertab"></collection>
  </resultMap>
  
  <!-- 评论map -->
  <resultMap id="commentlisMap" type="com.accp.entity.comments" >
    <id column="commentid" property="commentid" jdbcType="INTEGER" />
    <result column="stateid" property="stateid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="commenttime" property="commenttime" jdbcType="TIMESTAMP" />
      <result column="commenttext" property="commenttext" jdbcType="LONGVARCHAR" />
      <collection property="plus" column="userid" ofType="userTab" select="selectcomusertab"></collection>
      <collection property="replies" column="commentid" ofType="huifuMap" select="selecthuifu"></collection>
  </resultMap>
  <!-- 回复map -->
  <resultMap id="huifuMap" type="com.accp.entity.reply" >
    <id column="replyid" property="replyid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="pasvuserid" property="pasvuserid" jdbcType="INTEGER" />
    <result column="replytime" property="replytime" jdbcType="TIMESTAMP" />
    <result column="commentid" property="commentid" jdbcType="INTEGER" />
     <result column="replytext" property="replytext" jdbcType="LONGVARCHAR" />
      <collection property="replyuserTabs" column="userid" ofType="userTab" select="selecthuifuusertab"></collection>
      <collection property="replyuserTabspas" column="pasvuserid" ofType="userTab" select="selecthuifuusertab"></collection>
  </resultMap>
  
  <sql id="Base_Column_List" >
    spaceId, backColor, backImgId, userId
  </sql>
  <sql id="Blob_Column_List" >
    signature
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from qspace
    where spaceId = #{spaceid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from qspace
    where spaceId = #{spaceid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.entity.qspace" >
    insert into qspace (spaceId, backColor, backImgId, 
      userId, signature)
    values (#{spaceid,jdbcType=INTEGER}, #{backcolor,jdbcType=VARCHAR}, #{backimgid,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER}, #{signature,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.entity.qspace" >
    insert into qspace
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="spaceid != null" >
        spaceId,
      </if>
      <if test="backcolor != null" >
        backColor,
      </if>
      <if test="backimgid != null" >
        backImgId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="signature != null" >
        signature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="spaceid != null" >
        #{spaceid,jdbcType=INTEGER},
      </if>
      <if test="backcolor != null" >
        #{backcolor,jdbcType=VARCHAR},
      </if>
      <if test="backimgid != null" >
        #{backimgid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="signature != null" >
        #{signature,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.entity.qspace" >
    update qspace
    <set >
      <if test="backcolor != null" >
        backColor = #{backcolor,jdbcType=VARCHAR},
      </if>
      <if test="backimgid != null" >
        backImgId = #{backimgid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="signature != null" >
        signature = #{signature,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where spaceId = #{spaceid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.accp.entity.qspace" >
    update qspace
    set backColor = #{backcolor,jdbcType=VARCHAR},
      backImgId = #{backimgid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      signature = #{signature,jdbcType=LONGVARCHAR}
    where spaceId = #{spaceid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.entity.qspace" >
    update qspace
    set backColor = #{backcolor,jdbcType=VARCHAR},
      backImgId = #{backimgid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER}
    where spaceId = #{spaceid,jdbcType=INTEGER}
  </update>
  
  <select id="selectqspace" resultMap="ResultMapWithBLOBs"><!-- 查自己和好友的动态 -->
  select * from qspace 
  WHERE userId IN (SELECT `frienduserid` FROM friend AS hy
 WHERE hy.userId=#{userid}) or userId=#{userid}
  </select>
  
  <select id="selecthyqspace" resultMap="ResultMapWithBLOBs"><!-- 查好友的动态 -->
  select * from qspace 
  WHERE userId =#{userid}
  </select>
  
  <select id="selectusertab" resultType="userTab"><!-- 空间用户 -->
  select * from userTab
  where userid=#{userid}
  </select>
  <select id="selectspacebackimg" resultType="spaceBackImg"><!-- 空间背景图片表 -->
  select * from spaceBackImg 
  where spaceId =#{spaceid}
  </select>
  
  <select id="selectdynamicState" resultMap="dynamicStatetMap"><!--动态 -->
  select * from dynamicstate
  where spaceId=#{spaceId}
  </select>
  
  <select id="selectdtusertab" resultType="userTab"><!-- 动态用户 -->
  select * from userTab
  where userid=#{userid}
  </select>
  
  
  <select id="selectdtimg" resultType="img"><!-- 动态图片 -->
  select * from img
  where masterId=#{stateId} and imgType=1
  </select> 
  
  <select id="selectpraiserecord" resultMap="dianzMap"><!--点赞 -->
  select * from praiseRecord
  where stateId=#{stateId}
  </select>
  
  <select id="selectdzusertab" resultType="userTab"><!-- 点赞用户 -->
  select * from userTab
  where userid=#{userid}
  </select>
  
  <select id="selectcomments" resultMap="commentlisMap"><!--评论 -->
  select * from comments
  where stateId=#{stateId}
  </select>

<select id="selectcomusertab" resultType="userTab"><!-- 评论用户 -->
  select * from userTab
  where userid=#{userid}
  </select>
  
  <select id="selecthuifu" resultMap="huifuMap"><!-- 回复 -->
  select * from reply
  where commentId=#{commentId}
  </select>
  
  <select id="selecthuifuusertab" resultType="userTab"><!-- 回复用户 -->
  select * from userTab
  where userid=#{userid}
  </select>

</mapper>