<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.replyMapper" >
  <resultMap id="BaseResultMap" type="com.accp.entity.reply" >
    <id column="replyid" property="replyid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="pasvuserid" property="pasvuserid" jdbcType="INTEGER" />
    <result column="replytime" property="replytime" jdbcType="TIMESTAMP" />
    <result column="commentid" property="commentid" jdbcType="INTEGER" />
    <collection property="replyuserTabs" column="userId" ofType="userTab" select="selecthfruus"></collection>
    <collection property="replyuserTabspas" column="pasvuserid" ofType="userTab" select="selecthfruus"></collection>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.accp.entity.reply" extends="BaseResultMap" >
    <result column="replytext" property="replytext" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    replyId, userId, pasvUserId, replyTime, commentId
  </sql>
  <sql id="Blob_Column_List" >
    replyText
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from reply
    where replyId = #{replyid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from reply
    where replyId = #{replyid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.entity.reply" useGeneratedKeys="true" keyProperty="replyid">
    insert into reply (userId, pasvUserId, 
      replyTime, commentId, replyText
      )
    values ( #{userid,jdbcType=INTEGER}, #{pasvuserid,jdbcType=INTEGER}, 
       CURDATE(), #{commentid,jdbcType=INTEGER}, #{replytext,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.entity.reply" >
    insert into reply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="replyid != null" >
        replyId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="pasvuserid != null" >
        pasvUserId,
      </if>
      <if test="replytime != null" >
        replyTime,
      </if>
      <if test="commentid != null" >
        commentId,
      </if>
      <if test="replytext != null" >
        replyText,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="replyid != null" >
        #{replyid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="pasvuserid != null" >
        #{pasvuserid,jdbcType=INTEGER},
      </if>
      <if test="replytime != null" >
        #{replytime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentid != null" >
        #{commentid,jdbcType=INTEGER},
      </if>
      <if test="replytext != null" >
        #{replytext,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.entity.reply" >
    update reply
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="pasvuserid != null" >
        pasvUserId = #{pasvuserid,jdbcType=INTEGER},
      </if>
      <if test="replytime != null" >
        replyTime = #{replytime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentid != null" >
        commentId = #{commentid,jdbcType=INTEGER},
      </if>
      <if test="replytext != null" >
        replyText = #{replytext,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where replyId = #{replyid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.accp.entity.reply" >
    update reply
    set userId = #{userid,jdbcType=INTEGER},
      pasvUserId = #{pasvuserid,jdbcType=INTEGER},
      replyTime = #{replytime,jdbcType=TIMESTAMP},
      commentId = #{commentid,jdbcType=INTEGER},
      replyText = #{replytext,jdbcType=LONGVARCHAR}
    where replyId = #{replyid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.entity.reply" >
    update reply
    set userId = #{userid,jdbcType=INTEGER},
      pasvUserId = #{pasvuserid,jdbcType=INTEGER},
      replyTime = #{replytime,jdbcType=TIMESTAMP},
      commentId = #{commentid,jdbcType=INTEGER}
    where replyId = #{replyid,jdbcType=INTEGER}
  </update>
  
  <select id="selectreply" resultMap="ResultMapWithBLOBs">
  select * from reply
  where replyid=#{replyid}
  </select> 
  <select id="selecthfruus" resultType="userTab">
  select * from userTab
  where userId=#{userid}
  </select>
</mapper>